<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<meta name="description" content="基于webpack的前端工程化开发解决方案探索"/>
	<!--
        描述：head中无需再引入css以及facicon，webpack将根据入口JS文件的要求自动实现按需加载或者生成style标签
    -->
</head>
<body>
<div class="global-wrap">
	<div class="global">
		<div class="container-wrap">
			<div class="expend">
			</div>
			<div class="container-lee">
				<div class="content">
					<div class="left-wrap">
						<div class="chat-wrap">
							<div class="chat-title">问答</div>
							<div class="chat-input-area">
								<h4 class="input-area-title">专家为您答疑解惑</h4>
								<div class="area-line">
									<textarea class="input-area-text"></textarea>
									<button class="send">提问</button>
								</div>
							</div>
						</div>
					</div><div class="right-wrap">
						<div class="right-wrap-content">
							<div class="tool-bar">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>